.task {
   
    
}
.task .form{
   display: flex;
   justify-content: center;
   
}

.task textarea {
    resize: none;
    width: 100%;
    background: #262626;
    top: 30px;
    
}

.task button {
    background: #1E6F9F;
}

.newTask {
    margin: 0 auto;
    width: 50%;
}

.createdTask {
    margin: 0 auto;
    width: 50%;
}

.createdTask .summary {
    display: flex;
    justify-content: space-between;
    
}

.createdTask .content {
    background: #333333;
    display: flex;
    justify-content: space-between;
    height: 72px;
    border-radius: 8px;
    gap: 1rem;
    margin-top: 1.5rem;
}

.createdTask .summary .created {
    color: #4EA8DE;
} 
.createdTask .summary .finished {
    color: #8284FA;
} 

