.task {
    display: flex;
    justify-content: center;
    
}
.task .form{
   display: flex;
   width: 50%;
   justify-content: center;
}

.task textarea {
    resize: none;
    width: 100%;
    background: #262626;
    
}

.task button {
    background: #1E6F9F;
}

.task 

